body {
  padding-bottom: 40px;
  background-color: #eee;
  background: url(../images/fon2.png);
  min-width: 400px;
  width: auto !important;
  }

.navbar {
	margin-bottom: 7px;
}
.container-log {
	border: 3px solid #D3D3D3;
	border-radius: 50px;
	margin-top: -5px;
	margin:0 auto;
	width: 400px;
	background-color: #eee;
  }
  #hhh {
    position:absolute;
    top:25;
    left:0;
    background-color: #eee;
  }
  #cont-main {
	margin-top: 25px;
  }
  
  #form-login {
	  margin-top: 0px;
  }

  #mainform {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 3px;
    margin: 0;
  }
  #mainform-2{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0;
  }

  #modifyform {
    padding: 20px;
  }
  #font {
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
    
  }
  label, #hhh {
    font-size: 30px;
    font-family: Verdana, Geneva, sans-serif;
    
  }
  .container-main-info {
  /*border: 3px solid #D3D3D3;
  border-radius: 50px;*/
  border: 4px solid #303030;
   border-radius: 10px;
  margin-top: -5px;
  margin:0 auto;
  width: 600px;
  background-color: #eee;
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  font-size: 30px;
  }

  #mainbut {
    margin: 0;
  }
  
  #cont-main {
  margin-top: 25px;
  }
  
  #form-login {
    margin-top: 0px;
  }
  
@media (max-width: 767px) {
  #main-list {
	margin-top: 230px;
  }
  #hello {
	margin-left: 33%;
  }
  .container-log {
    padding-top: 60px;
	  background-color: #eee;
  }
  .container-main {
	 padding-top: 230px;
	 /*background-color: #eee;*/
  }
   #logo2 {
    padding-top: 205px;
    margin: 0 auto;
    width: 350px;
  }
}

.form {
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
}

.form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form .form-control:focus {
  z-index: 2;
}
.form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav {
	padding: 3px;
	height: 10px;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
}

h1 {
	font-weight: 900;
	color: white;
	text-shadow: 3px 4px 5px #000;
}


#hello {
	box-shadow:
   0 4px 10px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
	/*box-shadow: inset 0px 0px 10px 10px #202020;*/
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
	background-color: #eee;
	background: url(../images/fon-3.jpg);
	height: 380px;
	border: 2px solid #202020;
	/*border-radius: 10px;*/
}

#hello2 {
	box-shadow:
   0 4px 10px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
	/*box-shadow: inset 0px 0px 10px 10px #202020;*/
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
	background-color: #eee;
	background: url(../images/fon-5.jpeg);
	height: 380px;
	border: 2px solid #202020;
	/*border-radius: 10px;*/
}

#hello3 {
	box-shadow:
   0 4px 10px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
	/*box-shadow: inset 0px 0px 10px 10px #202020;*/
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
	background-color: #eee;
	background: url(../images/fon-6.jpg);
	height: 380px;
	border: 2px solid #202020;
	/*border-radius: 10px;*/
}

#logo {
	height: 45px;
}

#logo2 {
  margin-top: 5px;
}

#form1 {
	margin-top: 20px;
}

#message {
  background-color: #eee;
  min-height: 50px;
  border: 4px solid #202020;
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  font-size: 30px;
  border-radius: 50px;
}

#border {
  border: 4px solid #404040;
  border-radius: 30px;
}

#margin {
  margin-left: 17px;
  margin-right: 17px;
}

#pic-border {
  border: 4px solid #303030;
}