@font-face {
	font-family: myFont;
	src: url(../font/myfont1.ttf);
	font-family: myFont2;
	src: url(../font/myfont6.ttf);
}
body {
	font-family: myFont;
}

h1 {
	font-family: myFont2;
	font-size: 103;
}

.block1 {
	position: absolute;
	top: 120px;
	right: 20px;
	left: 20px;
	border: 7px solid #787878;
	background: url(../images/pat/pat2.png);
    border-radius: 20px;
	clear: both; 
	text-align: center;
	
}

html, body {
	background: url(../images/pat/pat3.png);
}


	
